<h1><%= @list.name.capitalize %></h1>

  <div>
    <% @list.bookmarks.each do |bookmark| %>
      <div>
        <%= bookmark.movie.title %>
        <%= bookmark.movie.rating %>
        <%= bookmark.comment %>
      </div>
     <% end %>
  </div>

<div>
<%= link_to("Create new Bookmark", new_list_bookmark_path(@list)) %>
</div>

<div>
  <p><%= link_to("Back", lists_path) %></p>
</div>
